main.error404-slide {
    height: 90vh;
    background:linear-gradient(0deg, $dark-color, $dark-color);
}

#error404 {
    height:50vh;
    h2 {
        font-family: tablon;
        color: $sec-color;
        font-size:200px;
    }
    p {
        text-align: center;
        color: $text-color;
    }
    small {
        display: block;
        margin-top:5px;
        text-align: center;
        font-size:11px;
        color: $text-color;

    }
}

$breakpoint-mobile: 576px;

@media screen and (max-width:$breakpoint-mobile) { 

    #error404 {
        height:100vh;
    }
}