main.about-slide {
    height: 65vh !important;
    background:linear-gradient(0deg, rgba(154, 31, 103, 0.8), rgba(154, 31, 103, 0.8)), url(assets/photo_2022_1.JPG);
    background-size:cover;
    background-position: center bottom;
    position:relative;
    overflow:hidden;
}

.about-section {
    //background-color:green;
    min-height: 390px;
    h1 {
        font-family: Tablon;
        font-size: 100px;
        color: $sec-color;
        text-align: center;
    }
}

#about-paragraph {
    background-color: $dark-color;
    p {
        color: $text-color;
        font-size: 11px;
        //margin-bottom:0;
        padding-top:50px;
        padding-bottom:60px;
        max-width:600px;
        text-align: center;
    }
}
