$breakpoint-mobile: 576px;

@media screen and (max-width:$breakpoint-mobile) { 

    #contact-form {
        padding-left:20px;
        padding-right:20px;
        h2 {
            font-size:20px;
            margin-top:50px;
        }
    }

    main.contact-slide {
        height: 60vh !important;
    }

}

@media screen and (min-width:$breakpoint-mobile) {
    #contact-form {
        padding-top: 50px;
        padding-bottom: 50px;
    }
} 