@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

@font-face {
    font-family: Tablon;
    src: url(assets/fonts/Tablon-Round-Black.ttf);
  }

$font: 'Poppins', sans-serif;
$alt-font: 'Tablon';

$ltr-spacing: -0.03em;
$line-height: 0.9;